@use "../../styles/variables" as variables;
@use "../../styles/typography" as typography;

.badge {
	@include typography.text-xs;
	display: inline-flex;
	align-items: center;
	padding: var(--space-2xs) var(--space-sm);
	border-radius: variables.$radius-sm;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	white-space: nowrap;
}

.badge--coming-soon {
	background-color: var(--color-gray-medium);
	color: var(--color-text-muted);
}

.badge--info {
	background-color: var(--color-info-background);
	color: var(--color-info);
	border: .1rem solid var(--color-info-border);
}

.badge--success {
	background-color: var(--color-success-background);
	color: var(--color-success);
	border: .1rem solid var(--color-success-border);
}

.badge--warning {
	background-color: var(--color-info-background);
	color: var(--color-info);
	border: .1rem solid var(--color-info-border);
}

.badge--error {
	background-color: var(--color-error-background);
	color: var(--color-error);
	border: .1rem solid var(--color-error-border);
}
