@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as variables;

.home-page {
	.mobile-view {
		display: block;
	}

	.desktop-view {
		display: none;
	}

	.sidebar-content-section {
		display: flex;
		min-height: 100dvh;
	}

	.desktop-layout {
		display: grid;
		grid-template-columns: auto 1fr;
		min-height: 100dvh;
	}

	.desktop-main {
		display: flex;
		flex-direction: column;
		min-width: 0;
	}

	@include mixins.tablet {
		.mobile-view {
			display: none;
		}
		.desktop-view {
			display: block;
		}
	}
}
