@use "../../styles/variables" as variables;

.weekly-slider {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--space-sm);
}

.range {
	display: flex;
	align-items: center;
	gap: var(--space-sm);
}
