@use "../../styles/mixins" as mixins;
@use "../../styles/typography" as typography;
@use "../../styles/variables" as variables;

.desktop-navigation {
	position: sticky;
	top: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: .1rem solid var(--color-border);
	background-color: var(--color-navigation-bg);
	height: variables.$desktop-navi-height;
	backdrop-filter: blur(10px);
	box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.05);
	width: 100%;
	color: var(--color-text);

	.logo-section {
		padding: var(--space-lg);
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--space-md);
		flex: 1;
	}

	.logo-image {
		display: block;
		border-radius: var(--radius-sm);
		flex-shrink: 0;
	}

	.logo-text-container {
		display: flex;
		align-items: center;
	}

	.logo {
		display: block;
	}

	.main-section {
		display: flex;
		flex-direction: column;
		gap: 0.15rem;
		padding: var(--space-md) 0;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex: 0 0 auto;
	}

	.header-title {
		line-height: 1.1;
		font-size: 1.5rem;
	}

	.current-week {
		font-weight: 300;
		color: var(--color-text-muted);
		font-size: 1rem;
	}

	.actions-section {
		display: flex;
		align-items: center;
		gap: var(--space-md);
		padding: var(--space-lg);
		justify-content: flex-end;
		flex: 1;
	}
}
