@use "../../styles/variables" as variables;

.draggable-task {
	position: relative;
	cursor: grab;
	user-select: none;
	touch-action: none;

	&:active {
		cursor: grabbing;
	}

	&.dragging {
		opacity: 0;
	}
}
