@use "../../styles/mixins" as mixins;
@use "../../styles/typography" as typography;
@use "../../styles/variables" as variables;


.desktop-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: var(--space-lg);
	margin: var(--space-lg);

}
