@use "../../styles/variables" as variables;


.icon-wrapper {
	position: relative;
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: opacity variables.$transition-base;

	&--hidden {
		opacity: 0;
	}
}

.icon {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all variables.$transition-smooth;
	opacity: 0;
	transform: scale(0.5) rotate(90deg);

	&.active {
		opacity: 1;
		transform: scale(1) rotate(0deg);
	}
}

.sun {
	color: var(--color-primary);
}

.moon {
	color: var(--color-primary);
}

.toggle:hover .icon.active {
	transform: scale(1.1) rotate(0deg);
}
