@use "../../styles/variables" as variables;
@use "../../styles/mixins" as mixins;

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: variables.$radius-sm;
	padding: var(--space-sm) var(--space-lg);
	cursor: pointer;
	font-weight: 600;
	font-size: var(--font-size-base);
	min-height: 3.6rem;
	position: relative;
	overflow: hidden;
	transition:
		background-color variables.$transition-base,
		color variables.$transition-base,
		transform variables.$transition-fast;


	&:active:not(:disabled) {
		transform: scale(0.98);
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&:focus-visible {
		outline: none;
	}
}

.icon-button {
	padding: var(--space-sm);
	width: 3.2rem;
	height: 3.2rem;
	min-height: 3.2rem;
	min-width: 3.2rem;
}

.primary {
	background-color: var(--color-primary);
	color: var(--color-surface);

	&:hover:not(:disabled) {
		background-color: var(--color-primary-dark);
	}

	&:focus-visible {
		outline: 0.13rem solid var(--color-primary-light);
		outline-offset: 0.13rem;
	}

	&:active:not(:disabled) {
		background-color: var(--color-primary);
	}
}

.secondary {
	background-color: var(--color-surface);
	color: var(--color-text);
	border: 0.1rem solid var(--color-border);

	&:hover:not(:disabled) {
		background-color: var(--color-gray-light);
		border-color: var(--color-text-muted);
	}

	&:focus-visible {
		outline: 0.13rem solid var(--color-primary);
		outline-offset: 0.13rem;
		border-color: var(--color-border);
	}

	&:active:not(:disabled) {
		background-color: var(--color-gray-medium);
	}
}

.ghost {
	background-color: transparent;
	color: var(--color-primary);
	border: .1rem solid transparent;

	&:hover:not(:disabled) {
		border: .1rem solid var(--color-primary);
	}

	&:focus-visible {
		outline: 0.13rem solid var(--color-primary);
		outline-offset: 0.13rem;
	}

	&:active:not(:disabled) {
		border: .1rem solid var(--color-primary);
		color: var(--color-primary-dark);
	}
}
