@use "../../styles/mixins" as mixins;
@use "../../styles/typography" as typography;
@use "../../styles/variables" as variables;

.weekly-content {
		padding-block: var(--content-spacing);
		padding-inline: var(--space-xs);

	@include mixins.phone {
		padding-inline: var(--content-spacing);
	}
}